@import './normalize.css';

.block {
	margin: 20px;

	padding: 20px;

	font-size: 2rem;

	border: 1px solid #ddd;
}

.block.hiden {
  display: none;
}

.inline {
	display: inline;

	font-size: 1.6rem;

	border: 1px solid #ddd;
}

.images__grid {
  padding: 30px 0;

	display: flex;
  flex-wrap: wrap;

  gap: 20px;
}

.image {
  width: 100%;

  object-fit: cover;
  object-position: center;
}

.image:nth-child(1) {
  height: 400px;
}

.image:nth-child(2) {
  width: 150px;
  height: 300px;
}

.image:nth-child(3) {
  width: 30%;
  height: 30%;
}

.input {
  height: 40px;

  margin: 20px;

  padding: 20px;
}