@import './normalize.css';

.wrapper {
	display: flex;
	align-items: flex-start;
	column-gap: 5%;
}

.column {
	max-width: 50%;

	flex-grow: 1;
	flex-shrink: 0;

	font-size: 1.6rem;
}

.opacity {
	opacity: 0.5;
}

.border {
  border: 1px solid #ddd;
}

.border-radius {
  border-radius: 8px;
  background: #ddd;
}

.outline {
  outline: 2px solid lightblue;
}

.visibility {
  visibility: hidden;
}

.box-shadow {
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 60%);
}