@import './normalize.css';

:root {
  font-size: 16px;
}

body {
  padding: 30px 15px;
}

div {
  max-width: 300px;

  padding: 4px;
  border: 1px solid lightgray;
}

.big {
  font-size: 30px;
}

.red {
  color: red;
  font-weight: bold;
}

.blue {
  color: rgb(0, 0, 255);
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.strike {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.shadow {
  text-shadow: 2px 2px lightgray;
}

.shadow_blurred {
  text-shadow: 2px 2px 6px gray;
}

div:not(:last-of-type) {
  margin-bottom: 15px;
}